body {
  font-family: 'Lato', sans-serif;
  letter-spacing: normal;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  background-color: #2d303a;
  border-bottom: 5px solid #323746;
}

.header-row {
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
}

.logo {
  margin-top: -5px;
}

.logo h1 {
  font-weight: bold;
  font-size: 25px;
  line-height: 0px;
  color: #ffffff;
}
.logo h1 span {
  color: #f06c64;
}

.navbar {
  margin-top: 8px;
}

.navbar a {
  font-weight: bold;
  font-size: 12px;

  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  position: relative;
}

.navbar a + a {
  padding-left: 25px;
}

.navbar a + a::before {
  content: "·";
  position: absolute;
  color: #494e62;
  left: 8px;
  top: 1px;
}

a.active {
  color: #f06c64;
}

.slider {
  background-color: #f06c64;
  border-bottom: 10px solid #ea676b;
}

.slider__inner {
  position: relative;
}
.next::before {
  content: url(../assets/img/next.png);
  top: 48%;
  position: absolute;
  left: 3px;
  cursor: pointer;
}
.next::after {
  content: url(../assets/img/next2.png);
  top: 48%;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.slider__item{
  padding-top: 53px;
  padding-left: 72px;
  padding-bottom: 56px;
}

.slider__item img {
  display: inline;
  vertical-align: middle;
}

.slider__item img + img {
  padding-left: 73px;
}

.services {
  background-color: #f2f2f2;
  padding-bottom: 50px;
  border-bottom: 5px solid #ffffff;
}

.services-title, .portfolio-title, .about-title {
  font-weight: 700;
  font-size: 30px;
  color: #666d89;
  padding: 60px 0 20px 0;
  margin: 0;
}

.services-text, .portfolio-text, .about-text {
  font-weight: lighter;
  font-size: 18px;
  line-height: 28px;
  color: #767e9e;
  padding: 0 0 48px 0;
  margin: 0;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  display: flex;
  width: 31%;
  align-items: flex-start;
  margin-right: 29px;
  margin-bottom: 32px;
}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.content-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #666d89;
  padding: 0 0 10px 21px;
}

.content-text {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #767e9e;
  padding-left: 21px;
  line-height: 20px;
}

.portfolio {
  background-color: #2d303a;
  color: #666d89;
  padding-bottom: 50px;
  border-bottom: 5px solid #323746;
}

.portfolio-text {
  padding-bottom: 13px;
}

li, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.portfolio-category__items {
  font-size: 12px;
  font-weight: normal;
  display: flex;
  margin-bottom: 17px;
}

.portfolio-category__item {
  border: 1px solid #666d89;
  border-radius: 5px;
  padding: 5px 7px 3px 6px;
  cursor: pointer;
  margin-right: 10px;
}

.portfolio-category__item.active {
  border-color: #c5c5c5;
  color: #c5c5c5;
}

.portfolio-img__items {
  display: flex;
  flex-wrap: wrap;
  flex: 25%;
}

.portfolio-img__items img {
  margin-right: 20px;
  margin-bottom: 20px;
}
.portfolio-img__items img:nth-child(4n) {
  margin-right: 0;
}
.about {
  background-color: #f2f2f2;
  padding-bottom: 50px;
  border-bottom: 5px solid #ffffff;
}

.about-cards {
  display: flex;
  justify-content: space-between;
}

.about-card {
  max-width: 300px;
}

.about-card__title {
  font-size: 18px;
  font-weight: bold;
  color: #666d89;
  margin-top: 12px;
  margin-bottom: 0;
}

.about-card__text {
  font-size: 12px;
  color: #767e9e;
  line-height: 21px;
  margin: 0;
  margin-top: 9px;
}

.about-socials {
  margin-top: 24px;
}
.about-socials img {
  margin-right: 5px;
}
